{% extends "auctions/layout.html" %}

{% block body %}
    <style>

        #image_div{
            height: 200px;
            width: 100%;
        }
        img{
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
        .price{
            font-size: 24px;
        }
        #description{
            margin-left: 15px;
        }
        .listing_info{
            margin-left: 15px;
            width: 50%;
        }
        .listing_page{
            display: flex;
        }
        #congrats_message{
            font-size: 24px;
            margin: 0;
            position: absolute;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            width: 35%;
        }
    </style>
    <div class="listing_page">
        <div class="listing_info">
            <h2>Listing: {{listing.name}}</h2>
            <div id="image_div">
                <img src="{{listing.image_url}}" alt="{{listing.name}}">
            </div>
            <div>
                {{listing.name}}
                </br>
                Posted By: {{listing.creator}}
                <p class="price">
                    <strong> Winning Bid:</strong>
                        ${{ listing.highest_bid }}.00
                </p>
                </br>
                <p class="price">
                    <strong>Description:</strong>
                </p>
                <p id="description">
                    {{listing.description}}
                </p>
                <p>
                    <strong class="price">Category:</strong>    {{listing.category}}
                </p>
            </div>
        </div>
        <div>
            <center>
                <p id="congrats_message"><strong>
                    Congrats! You won this listing!</br>
                    The listing creator, {{listing.creator}} should ship you this item within 5-7 business days
                </strong></p>
            </center>
        </div>
    </div>
{% endblock %}
