{% extends "auctions/layout.html" %}

{% block body %}
<style>
    div{
        margin-left: 70px;
    }
    textarea{
        width: 1000px;
    }
</style>
    <h2>Create Listing</h2>
    <div>
        <form action="{% url 'create_listing'%}" method="POST" >
         {% csrf_token %}
            {{ form.as_p }}
<!--         {% for field in form  %}-->
<!--            {{ field.errors }}-->
<!--            <br/>-->
<!--            {{ field.label_tag }} <br/>{{ field }}-->
<!--         {% endfor %}-->
         <br/>
         <br/>
         <input type = "submit">
     </form>
    </div>



{% endblock %}