{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist</h2>
    <style>
        li{
            list-style: none;
        }
        #image_div{
            height: 200px;
            width: 200px;
        }
        img{
            height: 200px;
            width: 200px;
            object-fit: contain;
        }
        #listing_div{
            display: flex;
            border: 1px solid black;
            width: 80%;

        }
        #listing_link{
            height: 40px;
            font-size: 30px;
            color: black;
        }
        #listing_info1{
            margin-left: 15px;
        }

    </style>
        <h2>Active Listings</h2>
    `   <ul>
            {% for listing in watchlist %}
                <li>
                    <div id="listing_div">
                        <div id="image_div">
                            <a href="{% url 'listing' listing.id %}">
                                <img src="{{listing.image_url}}" alt="Image of :{{listing.name}}">
                            </a>
                        </div>
                        <div id="listing_info1">
                            <a href="{% url 'listing' listing.id %}" id="listing_link">
                            {{ listing.name }}
                            </a>
                            </br>
                            </br>
                            <strong>Current Bid:</strong>
                            {% if listing.highest_bid > listing.starting_bid %}
    <!--                        notice you can only use > operator if you are comparing two items of the same type. both of these are of listing. You cant compare to constant in this case-->
                                ${{ listing.highest_bid }}.00
                            {% else %}
                                ${{listing.starting_bid}}.00
                            {% endif %}
                            </br>
                            Description: {{listing.description}}
                        </div>
                    </div>
                </li>

            {%endfor%}
        </ul>

{% endblock %}